/* SELECTORES DE ETIQUETAS HTML */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Roboto:wght@500&display=swap');

body, h1, ul ,li{
  margin: 0;
  padding: 0;
}
body {
 background-color: white;
}

h1 {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 38px; /* estableco el tamaño del texto */
}

h4, h2, h5, h3, p{
  font-family: 'Gemunu Libre', sans-serif; /* definiendo las etiquetas HTML (aplicando las fuentes a los objetos seleccionados) */
}



/* SELECTORES PERSONALIZADOS */
.contenedor{
  width: 100%; /* ocupa el tamaño de la ventana total ajustandose al modificarla */
  background-color: white;
  margin: 0 auto;
}
.zonalogo{
display: flex;
justify-content: center;
background-color: black;

}
.menu{
background-color: black;
padding: 10px;
border-bottom: 4px solid gray;
text-align: center;
}
.item-m{
font-family: 'Gemunu Libre', sans-serif; /* definiendo las etiquetas HTML (aplicando las fuentes a los objetos seleccionados) */
font-size: 20px;
display: inline-block;
padding: 10px;

}
.item-m a{
color: white;
text-decoration: none;
padding: 10px;
}
.item-m a:hover{
color: black; /* cambia el color de las letras del boton */
background-color: white; /* cambia el color del fondo del boton */
text-decoration: none;
padding: 10px;
}
.titulo{
background-color: white;
color: black;
padding: 10px 10px 10px 80px;
}
.img-fondo{
display: flex;
background-image: url(../img/Fondo.jpg);
height: 900px;
}
.zona0{
padding: 50px 0 0 0;
}
.subtitulo{
color: white;
padding: 70px 0 0 80px;
font-size: 22px;
}
.descripcion{
padding:  0 0 0 80px;
color: white;
font-size: 18px;
}
.menu2{
padding:  0 0 0 70px;
}
.item-m2{
font-family: 'Gemunu Libre', sans-serif;
font-size: 25px;
display: inline-block;
padding: 10px;
}
.item-m2 a{
border: 2px solid white;
color: white;
text-decoration: none;
padding: 10px;
}
.item-m2 a:hover{
color: black; /* cambia el color de las letras del boton */
background-color: #cccccc;/* cambia el color del fondo del boton */
text-decoration: none;
padding: 10px;
}
.video{
padding: 10px 0 0 80px;
}
.conjunto{
display: flex;
}

.img-grafica{
  padding: 160px 0 0 0;
}

.rendimiento{
font-family: 'Gemunu Libre', sans-serif;
font-size: 50px;
padding: 120px 0 0 50px;
text-align: center;

}
.img-fondo2{
background-image: url(../img/Fondo2.jpg);
color: white;
height: 1080px;
}
.info{
font-size: 24px;
padding: 0 0 0 0;
text-align: center;
}

.bloques{
display: flex;
}

.bloque1{
padding: 90px 0 0 0;
}
.texto1{
width: 200px;
padding: 35px 0 0 200px;
}
.textosub1{
padding: 0 0 0 145px;
}

.bloque2{
padding: 90px 0 0 0;
}
.texto2{
padding: 35px 0 0 265px;
}
.textosub2{
padding: 0 0 0 265px;
}

.bloque3{
padding: 90px 0 0 0;
}
.texto3{
padding: 35px 0 0 350px;
}
.textosub3{
padding: 0 0 0 335px;
}

.bloque4{
padding: 90px 0 0 0;
}
.texto4{
padding: 35px 0 0 350px;
}
.textosub4{
padding: 0 0 0 315px;
}

.bloques2{
display: flex;
}

.bloque5{
padding: 135px 0 0 0;
}
.texto5{
width: 200px;
padding: 35px 0 0 190px;
}
.textosub5{
padding: 0 0 0 185px;
}

.bloque6{
padding: 135px 0 0 0;
}
.texto6{
padding: 35px 0 0 275px;
}
.textosub6{
padding: 0 0 0 300px;
}

.bloque7{
padding: 135px 0 0 0;
}
.texto7{
padding: 35px 0 0 340px;
}
.textosub7{
padding: 0 0 0 265px;
}

.bloque8{
padding: 135px 0 0 0;
}
.texto8{
padding: 35px 0 0 275px;
}
.textosub8{
padding: 0 0 0 300px;
}



.pie{
color: white;
padding: 20px;
background-color: black;
text-align: center;
}
